* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
   }
   a{
    text-decoration: none;
   }
   .main-navbar{
    padding:0 2rem;
    background-color:cornsilk;
   }
   #one{
     text-transform: uppercase;
     color: #824C71;
   }
   #about{
     text-transform: uppercase;
   }
   .main-navbar a{
    text-transform: capitalize;
    color: black;
    display:block;
    padding: 1rem 0;}

   .main-navbar li{
    list-style-type:none;
   }
   @media screen and (min-width:546px){
   .main-navbar ul{
    max-width: 1170px;
    margin: 1rem auto;
     display: grid;
     grid-template-columns: repeat(4 , 1fr);
    
    }
    .main-navbar a{
     text-align: center;
    }
   }
.about{background-image: 
    url(depositphotos_41466555-stock-photo-image-of-slice-of-pizza.jpg);
    min-height: 80vh;background-size: cover
;
   }
   .about{
   text-align:center;
   display: grid;
   justify-content: center;
   align-items: center;
   color: var(--secondarycolor);
   animation: move 4s ease-in-out 2;
   
   }
   .main-header{
    background: black;
   }
   .main-about{
    
    background-color: #D7FDF0;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5rem;
   }
   .main-footer{
    color: var(--mainWhite);
    text-align: center;
    padding: 2rem;
    height: 10rem;
    text-transform: uppercase;
    background:#D8FFDD;
    color:#0A0F0D;
    padding-top: 5rem;
    } 
    .copy:hover{
      color: orange;
    }
    .order {
        background-attachment: fixed;
        background:url('5-90-700x700.jpg') center/cover fixed no-repeat;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        padding-top: 4%;
        padding-bottom: 4%;
      }  
      
      .order-overlay {
        background-color: transparent;
        margin-left: 2%;
        margin-right: 2%;
        padding-bottom: 20px;
        padding-left: 6%;
       
      }
      .order h2 {
        text-align: center;
      } 
      
      .choice h2 {
        color:#BA5A31;
        text-align: left;
      } 
      
      #info {
        padding-top: 5%;
        font-size: 22px;
        padding-right: 8%;
        padding-left: 5%;
        color: #ffa500;
      } 
      .order-placed{
         padding: 1rem 0; 
        text-transform: uppercase;
      }
      
      button {
        padding: 0.8rem;
        background-color:#C9EDDC;
      }
      .icons{
        font-size: 2rem;
        color: #090C9B;
        padding-top:10px
      }
    
      
      